<%= render partial:'layouts/sidebar' %>
<!-- Page Content-->
<div class="container-fluid p-0">

  <%= render partial:'layouts/page/about'       %>

  <%= render partial:'layouts/page/experience'  %>

  <%= render partial:'layouts/page/education'   %>

  <%= render partial:'layouts/page/skills'      %>

  <%= render partial:'layouts/page/interests'   %>

  <%= render partial:'layouts/page/snake'       %>

</div>
